* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    header {
        background-color: #007070;
        width: 100%;

        .topper {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            // position: fixed;
            // top: 0;
            margin-bottom: 30px;
            align-items: center;

            h1 {
                font-size: 30px;
                color: #fff;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            h2{
                display: none;

            }

            button {
                border: none;
                width: 120px;
                height: 50px;
                margin: 10px 0;
                background: none;
                color: #ffff;
                font-size: 20px;
                font-weight: 700;
                border-radius: 10px;
                text-transform: uppercase;
                transition: .6s all;

                &:hover {
                    background-color: #fff;
                    color: #007070;

                }
            }
        }
    }
}

#quote {
    width: 70%;
    height: 70vh;
    background-color: #007070;
    color: #fff;
    border-radius: 60px;
    margin: 30px auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100px;
        filter: invert(1);
        position: absolute;
    }

    .i1 {
        top: 20px;
        left: 20px;
    }

    .i2 {
        transform: rotate(180deg);
        right: 20px;
        bottom: 20px;
    }

}

#author{
    float: right;
    width: fit-content;
    margin-right: 30px;
    color: white;
    background-color: #007070;
    padding: 10px 20px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    &::before{
        content: "~";
    }
}

@media (max-width:375px) {
    header{
        
        h1{
            font-size: 14px;
            display: none;
        }
        h2{
            display: block;
            font-size: 14px;
        }

        button{
            width: fit-content;
            font-size: 18px;
        }
    }

    #quote{
        display: none;
    }
}